@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  background-color: #333;
  color: #222;
}

main {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform-origin 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 4rem;
  text-align: center;
}

main.show-nav {
  rotate: -20deg;
}

main.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  position: relative;
  background-color: #ff7979;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: rotate 0.5s linear;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

p {
  margin: 1.5rem auto;
  line-height: 1.8;
}

main img {
  margin: 1rem auto;
}

nav {
  position: fixed;
  bottom: 2.5rem;
  left: 0;
  z-index: 100;
}

nav ul {
  padding-left: 2rem;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 2rem auto;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
  cursor: pointer;
}

nav ul li + li {
  margin-left: 1rem;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 2rem;
  transform: translateX(-200%);
}

nav ul li i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
